@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('./Sledge_Regular.otf');

html,body{
	margin: 0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
}
header{
	background-color: #333745;
	margin: 0;
	top: 0;
	height: 4.7em; 
	display: flex;
	flex-flow: row;
	align-items: center;
	position: fixed;
	width: 100%;
	overflow: hidden;
	z-index: 5;
}
nav ul{
	list-style: none;
	display: flex;
	margin: 0;
}
header nav{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
}
.nav_item{
	display: block;
	padding:0 1em;
	margin: auto 0;
}
.title_color{
	color: #fe5f55;
}
.title{
	font-size: 4.5em;
	color: white;
	font-family: 'Sledge_Regular', sans-serif;
}
.nav_link{
	color:white;
	text-decoration: none;
	z-index: 3;
	display: block;
	position: relative;
	padding:1em;
	height: 100%;
	width: 100%;
	text-align: center;
}
.nav_link:before{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	left: 0;
	border-bottom:12px solid #fe5f55;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: 0.25s ease-in-out;
}

.nav_link:after{
	content:'';
	background-color: grey;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	display: block;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s;
	border-bottom:10px solid grey;
}
.nav_link:hover:after{
	opacity: 1;
}
.nav_link:hover:before{
	transform: scaleY(1);
	border-bottom:10px solid #fe5f55;
}
.jumbatron{
	background-image: url('./jumbatron_background.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	margin:0;
	margin-top: 4em;
	width: 100%;
	height: 80vh;
	text-align: center;
	position:relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.jumbatron_overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position:absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.above_overlay{
	z-index: 2;
}
.jumbatron_text{
	font-size: 5em;
	font-family: 'Sledge_Regular',sans-serif;
	text-shadow: 2px 2px 6px #000000;
	z-index: 1;
}
.jumbatron_button{
	background-image: linear-gradient(to right,#fe5f55,orange);
	border: none;
	padding: 1em;
	border-radius: 0.2em;
	color: white;
	transition: 0.2s ease-in-out;
}
.jumbatron_button:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.offerings{
	margin: 0px;
	padding: 0em;
	background-color: rgb(74, 79, 99);
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	text-align: center
}
.offerings_title{
	display: block;
	position: relative;
	text-align: center;
}
.offerings_title:after{
	content: '';
	width: 110px;
	height: 4px;
	border-radius: 2px;
	position: relative;
	display: block;
	margin: 0 auto;
	background-image: linear-gradient(to right,#fe5f55,orange);
}
.offerings_containers{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

}
.container{
	margin:0.5em;
	padding:0.4em;
	background-color: grey;
	height: 300px;
	width: 250px;
	border-radius: 5px;
	padding: 0.9em;
	transition: 0.3s ease-in-out;
}
.container:hover{
	transform: translateY(-10px);
}
.hamburger{
	align-self: center;
}
.view_hamburger{
	outline: none;
	margin: 0;
	position: relative;
	display: flex;
}
.mobile_menu_nav{
	list-style: none;
	padding-left: 0;
	margin-left:-0.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}
.mobile_menu{
	width:100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 100%;
	background-color: rgb(74, 79, 99);
	transition: 0.2s ease-in-out;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
.mobile_nav_link{
	text-decoration: none;
	color: white;
	font-weight: strong;
}
.mobile_nav_item{
	padding: 0.8em 0;
}
.reveal_mobile_menu{
	right:0;
}
@media(max-width:800px){
	header nav ul{
		display: none;
		background-color: purple;
	}
	.jumbatron_text{
		font-size: 3em;
	}
	.title{
		font-size: 3em;
	}
}
@media(min-width:800px){
	.view_hamburger{
		display: none;
	}
	.mobile_menu{
		display: none;
	}
}